#circle {
    border: 2px solid;
    border-radius: 50%;
    background-color: green;
    height: 500px;
    width: 500px;
    text-align:center;
}

.circlerow {
    margin-top: 120px
}

#more {
    margin-top: 200
    
}
.little:hover {
	background-color: turquoise;

}
.middle:hover {
	background-color: turquoise;
}
.more:hover {
	background-color: turquoise;
}
.more{
    background-color:;
}