h1{
    font-size: 100px;
    color:Red;
}
body{
    background-image: url("giphy.gif");
}


#circle {
    border: 2px solid;
    border-radius: 50%;
    background-color: Red;
    height: 500px;
    width: 500px;
    text-align:center;
}
#random{
    margin-top: 550px
}